commit.time
target.mk
.*.sw*

liberia*.csv
sierraLeone*.csv
guinea*.csv

*.pdf

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
*.r
.Rhistory

*.wrapR.*

local.mk

testdir/
.testdir/
subclone_dir/

*.makestuff
